{% extends 'base.html' %}

{% block content %}
    <section class="py-9">
        <div class="max-w-2xl mx-auto">
            <!-- <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="grid grid-cols-2 gap-6">
                    <input type="file" name="my_file" class="w-100">
                    <input type="text" class="w-100 h-12 border border-gray-400 outline-none">
                </div>
                <button type="submit" class="bg-blue-700 py-3 px-8 text-white mt-6">Submit</button>
            </form> -->
        </div>
        
    </section>
{% endblock content %}
    